<p>Dear Admin,</p>
<p>
  We would like to inform you that users have redeemed rewards today. Please
  check Farmtech for further details. The summary of the shipments is attached
  in the Excel file below.
</p>
<p>
  Please refer to the attached Microsoft Excel file for further details.<br />
</p>
<p>Best regards,<br />FarmSook</p>
