<p>Dear Admin,</p>
<p>We would like to inform you that a user has requested to redeem a reward.</p>
<p>
  Please refer to the attached Microsoft Excel file for further details.<br />
  <a href=<%= url %>>Excel Link</a>
</p>
<p>Best regards,<br />FarmSook</p>
